
{% load static %}

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav-logo">
                <img src="{% static 'main/images/logo.svg' %}" alt="Legal Eagle Logo" class="nav-logo-icon" id="logo" />
                <span class="nav-logo-name">Legal Eagle</span>
            </a>
            <div class="nav-list">
                <div class="nav-link"> 
                    <ion-icon class='nav-icon' id="header-toggle" name="menu-outline" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Expand"></ion-icon>
                    <span class="nav-name">Menu</span>
                </div>
                <a class="nav-link" href="#" >
                    <ion-icon aria-label="Home" name="home-outline" class="nav-icon" title data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home"></ion-icon>
                    <span class="nav-name">Home</span>
                </a>
                <a class="nav-link" href="#" >
                    <ion-icon aria-label="Admin" name="hammer-outline" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Admin"></ion-icon>
                    <span class="nav-name">Admin</span>
                </a>
            </div>
        </div>
        <a href="#" class="nav-link"> 
            <ion-icon name="log-out-outline" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Sign Out"></ion-icon>
            <span class="nav-name">SignOut</span> 
        </a>
    </nav>
</div>
