{% extends 'main/base.html' %}
{% block title %} Reset Password {% endblock %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <h5>Forgot your password? Send an email to reset</h5>
        <br>
        <form method="POST" class="mb-4">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="{{form.email.id_for_label}}" class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-8">
                {{form.email|add_class:"form-control"}}    
            </div>
        </div>
        <!--{{form.as_p}}-->
        <button type="submit" class="btn btn-primary">Send Email<span><ion-icon name="mail-outline"></ion-icon></span></button>
        </form>
        <br>
        <p>Clicked the wrong button? Go back to login <a href="{% url 'login' %}">Click Here</a></p>
    </div>
{% endblock content %}