{% extends 'main/base.html' %}
{% block title %} LE - Reset Password {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Forgot your password?</h1>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <p>If this email exists in the system an email will be sent to reset your password.</p>
                    <p class="text-center">Return to the login page: <a href="{% url 'password_reset' %}">here</a></p>
                </div>
                
            </div>
        </div>
    </div>
{% endblock content %}