{% extends 'main/base.html' %}
{% block title %} LE - Password Changed {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="mb-3">
                    <div class="col-md-12 text-center">
                        <h1>Password Changed</h1>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <p>Your Password has changed return to the login page.</p>
                    <p class="text-center">Return to the login page: <a href="{% url 'login' %}">here</a></p>
                </div>           
            </div>
        </div>
    </div>
{% endblock %}